
@{
    ViewBag.Title = "Index";
}



    <div id="wrap">
        <form  action="~/GitSearch/SearchInfo" autocomplete="on">
            <input id="search" name="data" type="text" placeholder="Type your search!">
            <input id="search_submit"  type="submit">
        </form>
    </div>





