
@{
    ViewBag.Title = "Index";
}



    <div id="wrap">
        <form action="" autocomplete="on">
            <input id="search" name="search" type="text" placeholder="Type your search!">
            <input id="search_submit"  type="submit">
        </form>
    </div>





